In [ ]:
"""
Created on 17 Feb 2021
author: cjburrage

"""

In [1]:
# Import data set

import pandas as pd
df = pd.read_csv('/Users/Char/Desktop/lasers.csv')
df.head(n=5)

/Users/Char/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,_id,date,status,limitedPage,userId,pod,primaryCode,reportingFacility,remarks,callsign,...,altitude,legacyUser,limitedRecipients,files,__v,operator.code,operator.name,operator.country,operator.telephony,tailNum
0,5d2de0cb2834ae4512fd57f9,2007-01-24T13:28:00.000Z,Closed,False,5d254b1405f0fc430968bde2,NCRCC,LASER,SCT,SCT reported Green Laser incident. SCT notifie...,AMT4762,...,4500.0,GDavis,[ ],[ ],0,NaN,NaN,NaN,NaN,NaN
1,5d2de0cb2834ae4512fd582e,2007-01-25T06:39:00.000Z,Closed,False,5d254b1405f0fc430968bde2,NCRCC,LASER,ZTL,Reported a green laser while on the PDK 100/00...,CPF920,...,NaN,RZoldos,[ ],[ ],0,NaN,NaN,NaN,NaN,NaN
2,5d2de0cb2834ae4512fd58f6,2007-01-16T05:51:00.000Z,Closed,False,5d254b1405f0fc430968bde2,DEN,LASER,PCT,"EJA675, C56X, reported a green laser at 0051 S...",NaN,...,NaN,CMight,[ ],[ ],0,NaN,NaN,NaN,NaN,NaN
3,5d2de0cb2834ae4512fd57ee,2007-01-23T08:25:00.000Z,Closed,False,5d254b1405f0fc430968bde2,DEN,LASER,SCT,"LAX..SEA, pilot reported beingilluminated by a...",ASA519,...,NaN,DLaswell,[ ],[ ],0,ASA,ALASKA AIRLINES INC.,UNITED STATES,ALASKA,NaN
4,5d2de0cb2834ae4512fd5836,2007-01-22T06:19:00.000Z,Closed,False,5d254b1405f0fc430968bde2,DEN,LASER,ZHU,"CJC9511, SF34, CLL-IAH reported being illumina...",CJC9511,...,NaN,JGreene,[ ],[ ],0,NaN,NaN,NaN,NaN,NaN

In [2]:
 #Size of dataset (# of rows and columns)
    
df.shape

(56636, 36)

In [3]:
#List of column names

df.columns

Index(['_id', 'date', 'status', 'limitedPage', 'userId', 'pod', 'primaryCode',
       'reportingFacility', 'remarks', 'callsign', 'acType', 'destNew.icao',
       'destNew.faa', 'destNew.airportName', 'destNew.country', 'destNew.city',
       'origin.icao', 'origin.faa', 'origin.airportName', 'origin.country',
       'origin.city', 'dest.icao', 'dest.faa', 'dest.airportName',
       'dest.country', 'dest.city', 'altitude', 'legacyUser',
       'limitedRecipients', 'files', '__v', 'operator.code', 'operator.name',
       'operator.country', 'operator.telephony', 'tailNum'],
      dtype='object')

In [4]:
#Info on the data set (e.g., column names, how many are populated for each)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56636 entries, 0 to 56635
Data columns (total 36 columns):
_id                    56636 non-null object
date                   56636 non-null object
status                 56636 non-null object
limitedPage            56636 non-null bool
userId                 56636 non-null object
pod                    56636 non-null object
primaryCode            56636 non-null object
reportingFacility      56636 non-null object
remarks                56629 non-null object
callsign               56253 non-null object
acType                 55658 non-null object
destNew.icao           36432 non-null object
destNew.faa            41446 non-null object
destNew.airportName    42744 non-null object
destNew.country        37281 non-null object
destNew.city           37247 non-null object
origin.icao            46277 non-null object
origin.faa             52331 non-null object
origin.airportName     53201 non-null object
origin.country         48430 non-null object
origin.city            48427 non-null object
dest.icao              9475 non-null object
dest.faa               10331 non-null object
dest.airportName       10535 non-null object
dest.country           10466 non-null object
dest.city              10462 non-null object
altitude               432 non-null float64
legacyUser             45823 non-null object
limitedRecipients      56636 non-null object
files                  56636 non-null object
__v                    56636 non-null int64
operator.code          36770 non-null object
operator.name          36770 non-null object
operator.country       36762 non-null object
operator.telephony     36744 non-null object
tailNum                91 non-null object
dtypes: bool(1), float64(1), int64(1), object(33)
memory usage: 15.2+ MB

In [5]:
#View top of data set (1st five rows)

df.head()

,_id,date,status,limitedPage,userId,pod,primaryCode,reportingFacility,remarks,callsign,...,altitude,legacyUser,limitedRecipients,files,__v,operator.code,operator.name,operator.country,operator.telephony,tailNum
0,5d2de0cb2834ae4512fd57f9,2007-01-24T13:28:00.000Z,Closed,False,5d254b1405f0fc430968bde2,NCRCC,LASER,SCT,SCT reported Green Laser incident. SCT notifie...,AMT4762,...,4500.0,GDavis,[ ],[ ],0,NaN,NaN,NaN,NaN,NaN
1,5d2de0cb2834ae4512fd582e,2007-01-25T06:39:00.000Z,Closed,False,5d254b1405f0fc430968bde2,NCRCC,LASER,ZTL,Reported a green laser while on the PDK 100/00...,CPF920,...,NaN,RZoldos,[ ],[ ],0,NaN,NaN,NaN,NaN,NaN
2,5d2de0cb2834ae4512fd58f6,2007-01-16T05:51:00.000Z,Closed,False,5d254b1405f0fc430968bde2,DEN,LASER,PCT,"EJA675, C56X, reported a green laser at 0051 S...",NaN,...,NaN,CMight,[ ],[ ],0,NaN,NaN,NaN,NaN,NaN
3,5d2de0cb2834ae4512fd57ee,2007-01-23T08:25:00.000Z,Closed,False,5d254b1405f0fc430968bde2,DEN,LASER,SCT,"LAX..SEA, pilot reported beingilluminated by a...",ASA519,...,NaN,DLaswell,[ ],[ ],0,ASA,ALASKA AIRLINES INC.,UNITED STATES,ALASKA,NaN
4,5d2de0cb2834ae4512fd5836,2007-01-22T06:19:00.000Z,Closed,False,5d254b1405f0fc430968bde2,DEN,LASER,ZHU,"CJC9511, SF34, CLL-IAH reported being illumina...",CJC9511,...,NaN,JGreene,[ ],[ ],0,NaN,NaN,NaN,NaN,NaN

In [6]:
#View bottom of data set (last five rows)

df.tail()

,_id,date,status,limitedPage,userId,pod,primaryCode,reportingFacility,remarks,callsign,...,altitude,legacyUser,limitedRecipients,files,__v,operator.code,operator.name,operator.country,operator.telephony,tailNum
56631,6013afeb0acb2d2e7d28360f,2021-01-29T03:10:00.000Z,Closed,False,5d27b0ff0a19ed41a8e699a5,DEN,LASER,AZO,Aircraft reported cockpit illuminated by a gre...,BYA561,...,NaN,NaN,"[ { ""_id"" : { ""$oid"" : ""5d2f09ac2d06e7485a3228...",[ ],0,BYA,"BERRY AVIATION, INC. (SAN MARCOS, TX)",UNITED STATES,BERRY,NaN
56632,6013b09c0acb2d2e7d283634,2021-01-29T03:10:00.000Z,Closed,False,5d27b0ff0a19ed41a8e699a5,DEN,LASER,SAT,Aircraft reported cockpit illuminated by a red...,SWA2298,...,NaN,NaN,"[ { ""_id"" : { ""$oid"" : ""5d2f09ac2d06e7485a3228...",[ ],0,SWA,"SOUTHWEST AIRLINES CO. (SAN ANTONIO, TX)",UNITED STATES,SOUTHWEST,NaN
56633,6013c8020acb2d2e7d2836fe,2021-01-29T06:53:00.000Z,Closed,False,5d27b0ff0a19ed41a8e699a5,DEN,LASER,L30,Aircraft reported cockpit illuminated by a blu...,DAL1714,...,NaN,NaN,"[ { ""_id"" : { ""$oid"" : ""5d2f09ac2d06e7485a3228...",[ ],0,DAL,"DELTA AIR LINES, INC.",UNITED STATES,DELTA,NaN
56634,6013ec7d0acb2d2e7d2838d6,2021-01-29T06:58:00.000Z,Closed,False,5d277a6f0a19ed41a8e69978,DEN,LASER,D10,Aircraft reported cockpit illuminated by a gre...,GTX489,...,NaN,NaN,"[ { ""_id"" : { ""$oid"" : ""5d2f09ac2d06e7485a3228...",[ ],0,GTX,"GTA AIR, INC. (LANCASTER, TX)",UNITED STATES,BIG-DEE,NaN
56635,6013ed280acb2d2e7d2838e9,2021-01-29T04:25:00.000Z,Closed,False,5d277a6f0a19ed41a8e69978,DEN,LASER,HQ DEN,Aircraft reported cockpit illuminated by a gre...,SKQ34,...,NaN,NaN,"[ { ""_id"" : { ""$oid"" : ""5d2f09ac2d06e7485a3228...",[ ],0,SKQ,"LABCORP, INC. (BURLINGTON, NC)",UNITED STATES,SKYLAB,NaN

In [7]:
#drop/remove unnecessary columns: userID, legacyUser, status, limitedPage, limitedRecipients, files, -v, primaryCode
#assuming it's ok to remove these, based on question for 4 Feb partner meeting

df.drop(['userId', 'legacyUser', 'status', 'limitedPage', 'limitedRecipients', 'files', '__v', 'primaryCode'], 
        axis=1, inplace=True)

In [8]:
#rename columns to remove decimals (python doesn't like)
df.rename(columns = { 'dest.city':'destCity', 'destNew.city':'destNewCity', 'origin.city':'originCity', 
                     'destNew.icao':'destNewIcao','destNew.faa':'destNewFaa', 'destNew.airportName':'destNewAirportName', 
                     'destNew.country':'destNewCountry', 'origin.icao':'originIcao', 'origin.faa':'originFaa', 
                     'origin.airportName':'originAirportName', 'origin.country':'originCountry','dest.icao':'destIcao', 
                     'dest.faa':'destFaa', 'dest.airportName':'destAirportName','dest.country':'destCountry', 
                     'operator.code':'operatorCode', 'operator.name':'operatorName', 'operator.country':'operatorCountry',
                     'operator.telephony':'operatorTelephony',},inplace=True)

In [9]:
df.columns #column names

Index(['_id', 'date', 'pod', 'reportingFacility', 'remarks', 'callsign',
       'acType', 'destNewIcao', 'destNewFaa', 'destNewAirportName',
       'destNewCountry', 'destNewCity', 'originIcao', 'originFaa',
       'originAirportName', 'originCountry', 'originCity', 'destIcao',
       'destFaa', 'destAirportName', 'destCountry', 'destCity', 'altitude',
       'operatorCode', 'operatorName', 'operatorCountry', 'operatorTelephony',
       'tailNum'],
      dtype='object')

In [10]:
#Get # of unique values for some of the columns

POD = df.pod.nunique()
print("Number of Unique POD:", POD)

RF = df.reportingFacility.nunique()
print("Number of Unique Reporting Facilities:", RF)

Origin = df.originCity.nunique()
print("Number of Unique Origin Cities:", Origin)

Dest1 = df.destCity.nunique()
print("Number of Unique Destination Cities (1) :", Dest1)

Dest2 = df.destNewCity.nunique()
print("Number of Unique Destination Cities (2) :", Dest2)

Number of Unique POD: 7
Number of Unique Reporting Facilities: 564
Number of Unique Origin Cities: 1405
Number of Unique Destination Cities (1) : 814
Number of Unique Destination Cities (2) : 1249

In [11]:
#Get unique values for some of the columns

POD2 = df['pod'].unique()
print(POD, "Unique PODs:", POD2)

7 Unique PODs: ['NCRCC' 'DEN' 'JATOC' 'NORAD' 'SOSC' 'CONR' 'ATO']

In [12]:
#Get unique values for some of the columns

RF2 = df['reportingFacility'].unique()
print(RF, "Unique Reporting Facilities", RF2)

564 Unique Reporting Facilities ['SCT' 'ZTL' 'PCT' 'ZHU' 'HNL' 'N90' 'ZLA' 'PHX' 'SW1' 'ZMA' 'PDX' 'DEN'
 'ATL' 'ZLC' 'BOS' 'DCA' 'PSP' 'ZKC' 'RDU' 'MIA' 'AUS' 'SAT' 'BHM' 'BTR'
 'NCT' 'D10' 'ZOB' 'ZNY' 'PRC' 'JAN' 'COS' 'CLE' 'SLC' 'ZID' 'ZMP' 'ZJX'
 'ZOA' 'HIO' 'AMA' 'ZBW' 'STL' 'PHL' 'LAX' 'CRP' 'A90' 'NCRCC' 'P50' 'ZSE'
 'ZHN' 'ZAU' 'D01' 'ZDV' 'MKE' 'MCI' 'ZDC' 'ZAB' 'BUR' 'TSOC' 'DAB' 'ABQ'
 'ORD' 'MSP' 'SEA' 'SDF' 'C90' 'ORL' 'SJC' 'PIT' 'CMH' 'DFW' 'U90' 'OKC'
 'TPA' 'WOC' 'BDL' 'TUS' 'LAS' 'SMF' 'ZME' 'ROC' 'FAT' 'CMI' 'DTW' 'CLT'
 'JFK' 'DAY' 'FTW' 'SAN' 'SDL' 'ICT' 'IAH' 'PBI' 'ZUA' 'ORF' 'LGB' 'RSW'
 'HOU' 'MSY' 'ONT' 'ACT' 'BNA' 'VNY' 'SFO' 'MCO' 'MEM' 'HCF' 'BOI' 'IAD'
 'CAK' 'GEG' 'OGG' 'SYR' 'HSV' 'MRI' 'RNO' 'ZSU' 'LGA' 'ITO' 'TUL' 'ACY'
 'OMA' 'AMOC' 'LIT' 'DAL' 'OTH' 'OAK' 'ABE' 'LEX' 'MFE' 'I90' 'MAF' 'PIA'
 'CCR' 'BFL' 'GPI' 'BUF' 'PNS' 'RME' 'LUK' 'ILG' 'CMA' 'MDT' 'LCH' 'SGF'
 'SGR' 'SBA' 'ALO' 'CPR' 'CHA' 'FSD' 'ZFW' 'SJU' 'POC' 'JAX' 'PIE' 'FLL'
 'MDW' 'M98' 'BCT' 'ILM' 'FAY' 'L30' 'MSN' 'EWR' 'PVD' 'GSP' 'A80' 'DPA'
 'S56' 'LOU' 'MCC' 'DCAT' 'BGM' 'UAL' 'HTS' 'HEF' 'GSO' 'AVP' 'S46' 'TEB'
 'IND' 'FLO' 'P80' 'F11' 'JCF' 'CAE' 'PFN' 'GRR' 'SPI' 'PAE' 'RIC' 'DSM'
 'GPT' 'TYS' 'K90' 'PSC' 'T75' 'CRQ' 'NCTC' 'EMT' 'BWI' 'FSM' 'SMO' 'VPS'
 'BFI' 'LFT' 'MGM' 'BTV' 'AGS' 'CHS' 'PNE' 'TOL' 'AGC' 'VGT' 'ADW' 'ALB'
 'MBS' 'ROA' 'BGR' 'EUG' 'PTK' 'MYR' 'ISP' 'NASA' 'SHV' 'MKC' 'GRB' 'DAA'
 'D21' 'FFZ' 'IADT' 'SUS' 'MMU' 'ANC' 'ERI' 'TRI' 'RDG' 'RAP' 'AVL' 'ELM'
 'MVY' 'RIV' 'ZAN' 'SAV' 'CID' 'FXE' 'MOB' 'EVV' 'BWIT' 'PWM' 'R90' 'ABI'
 'GTU' 'SNA' 'MRYT' 'AZO' 'DWH' 'ADS' 'LBB' 'BIL' 'MLI' 'C70' 'DOV' 'HFD'
 'BRO' 'SBN' 'CHO' 'LAN' 'DVT' 'RDM' 'ADWT' 'GSB' 'TSC' 'WRI' 'ELP' 'STT'
 'LNK' 'LYH' 'XNA' 'JST' 'SFB' 'CRW' 'JQF' 'ITH' 'P31' 'COU' 'BED' 'SUU'
 'TLH' 'HKY' 'ORH' 'GMU' 'YIP' 'Y90' 'PMP' 'NYL' 'SCK' 'VRB' 'LVK' 'HWD'
 'FNT' 'IWA' 'MHT' 'YNG' 'SEE' 'FAR' 'PAO' 'MLB' 'ASE' 'FWA' 'SUX' 'GTF'
 'TMB' 'WADS' 'HIROC' 'NYG' 'RDD' 'MOD' 'STP' 'MYF' 'AFW' 'PHF' 'BLI'
 'GGG' 'STS' 'PDK' 'HRL' 'HPN' 'RHV' 'M03' 'OXC' 'GJT' 'HOP' 'RFD' 'MRY'
 'MFD' 'SRQ' 'GRK' 'BIS' 'ACK' 'ROW' 'MEI' 'MIC' 'TOA' 'NEW' 'APA' 'LSV'
 'NFG' 'JRF' 'PUB' 'POB' 'HUF' 'LMT' 'NHK' 'GSN' 'LIH' 'SBP' 'GFK' 'SKF'
 'HVN' 'MFR' 'BTL' 'MER' 'MTC' 'HTO' 'DTO' 'HQ DEN' 'WJF' 'MFH' 'SDM'
 'CVG' 'YUM' 'BQN' 'TTN' 'BJC' 'A11' 'IDA' 'MWH' 'OXR' 'EVB' 'TVC' 'GON'
 'NTU' 'OZR' 'GYH' 'CDW' 'FDK' 'EFD' 'SUN' 'BPT' 'GUM' 'GEU' 'GYR' 'DET'
 'SLE' 'FSOC' 'NTD' 'FCM' 'SBD' 'TCM' 'RNT' 'RST' 'HAO' 'OPF' 'MKG' 'BZN'
 'PVU' 'CPS' 'LUF' 'MQY' 'RVS' 'NZY' 'FRG' 'NJK' 'NUW' 'DLH' 'MCN' 'HUT'
 'CYS' 'LTS' 'APC' 'KOA' 'CHD' 'CKB' 'PHTO' 'BAF' 'CNO' 'LNS' 'HHR' 'POE'
 'CRG' 'LAF' 'SQL' 'TYR' 'VLD' 'MHR' 'ATW' 'IPT' 'OLV' 'FAA TSOC' 'ISM'
 'GUS' 'HGR' 'MLU' 'ALW' 'OGD' 'LAL' 'RYN' 'NUQ' 'FAA INTEL' 'CZK' 'ADM'
 'BFM' 'OWD' 'CXO' 'FUL' 'LWS' 'BMI' 'TKI' 'FAI' 'CON' 'YKM' 'STJ' 'SAF'
 'BKL' 'PDT' 'TTD' 'LRF' 'SGJ' 'JEF' 'NGU' 'PWK' 'LRD' 'POU' 'CGF' 'FIN'
 'PKB' 'SBY' 'MTN' 'NMM' 'FPR' 'BKV' 'CLL' 'TJBQ' 'CBM' 'CRE' 'LWB' 'F90'
 'MGE' 'SNS' 'MOT' 'LZU' 'HHI' 'ARR' 'OLM' 'BAB' 'DTS' 'JNU' 'HLN' 'CBP'
 'SAC' 'NQI' 'GNV' 'IXD' 'ECP' 'NBC' 'PAH' 'APF' 'NAV' 'OJC' 'LBE' 'BMG'
 'GTR' 'USCG' 'UGN' 'HWO' 'NKT' 'NATCF' 'GRI' 'EGE' 'SLN' 'CSG' 'SLI'
 'NZC' 'O90' 'HQ JDEN' 'MSO' 'TWF' 'CIC' 'SSF' 'SZL' 'OSH' 'SPG' 'DXR'
 'DHN' 'OSU' 'STC' 'RAL' 'FMN' 'ARB' 'PAM' 'MGW' 'VQQ' 'PGD' 'CWF' 'STX'
 'FOE' 'NFW' 'PIH' 'HSA' 'MIB' 'JLN' 'UES' 'JNU-FSS' 'NFL' 'FTY' 'HQZ'
 'DBQ' 'MDH' 'TXK' 'NIP' 'RBD' 'SMX' 'OWB']

In [13]:
#Get unique values for some of the columns  (too many to print in jupyter notebook)

Origin2 = df.originCity.unique()
print(Origin, "Unique Origin Cities", Origin2)

1405 Unique Origin Cities ['LOS ANGELES' 'ATLANTA' nan ... 'GREAT BARRINGTON' 'GRAND LEDGE'
 'ISTANBUL']

In [14]:
#Get unique values for some of the columns

Dest1_2 = df.destCity.unique()
print(Dest1, "Unique Destination Cities (1)", Dest1_2)

814 Unique Destination Cities (1) ['LOS ANGELES' 'ATLANTA' nan 'SEATTLE' 'HOUSTON' 'PHOENIX'
 'FORT LAUDERDALE' 'SACRAMENTO' 'CHICAGO' 'SALT LAKE CITY' 'SAN FRANCISCO'
 'FORT POLK' 'SANTA ANA' 'WILMINGTON' 'LAKE CHARLES' 'CEDAR CREEK'
 'WILKES-BARRE/SCRANTON' 'COLORADO SPRINGS' 'RIVERSIDE' 'PITTSFIELD'
 'BIRMINGHAM' 'INDIANAPOLIS' 'NEW SMYRNA BEACH' 'MOBILE' 'GRAND LEDGE'
 'DENVER' 'JOHNSTOWN' 'JUNEAU' 'FRESNO' 'WESTHAMPTON BEACH' 'LONG BEACH'
 'REDDING' 'NEW ORLEANS' 'OKLAHOMA CITY' 'SAN ANTONIO' 'ORLANDO' 'DALLAS'
 'WICHITA' 'ROSWELL' 'NORFOLK' 'CHINA LAKE' 'MINNEAPOLIS' 'CHARLOTTE'
 'SAN JOSE' 'NORWALK' 'PHILADELPHIA' 'ST LOUIS' 'CAMP SPRINGS' 'DOVER'
 'DALLAS-FORT WORTH' 'COVINGTON' 'NEW YORK' 'CLEVELAND' 'PITTSBURGH'
 'MEMPHIS' 'BEMIDJI' 'PORTLAND' 'BOSTON' 'EL PASO' 'BOISE' 'PONTIAC'
 'LAWRENCEVILLE' 'CAMPINAS' 'AGUADILLA' 'ONTARIO' 'COLUMBUS' 'ROCHESTER'
 'BOZEMAN' 'LOUISVILLE' 'MASSENA' 'WEST PALM BEACH' 'MILWAUKEE' 'GALLUP'
 'LAS VEGAS' 'ALTUS' 'KAHULUI' 'BURBANK' 'NEWARK' 'ALLENTOWN' 'PROVO'
 'BALTIMORE' 'LITTLE ROCK' 'MIAMI' 'SPOKANE' 'EUGENE' 'BAKERSFIELD'
 'MOUNTAIN HOME' 'SAN DIEGO' 'TAMPA' 'GRAND RAPIDS' 'SIOUX CITY'
 'SAN JUAN' 'TALLAHASSEE' 'HAYWARD' 'HONOLULU' 'HILO' 'FORT BELVOIR'
 'FORT HOOD(KILLEEN)' 'KNOXVILLE' 'WASHINGTON' 'GOLDSBORO' 'WINDSOR LOCKS'
 'RED WING' 'MALVERN' 'DAYTON' 'YUMA' 'SAVANNAH' 'LIHUE' 'SPRINGFIELD'
 'VANCOUVER' 'PRESCOTT' 'EDINBURGH' 'TOLEDO' 'BAY ST LOUIS' 'CEDAR RAPIDS'
 'MILLBROOK' 'VISALIA' 'SPANGDAHLEM' 'CARTERSVILLE' 'ALBUQUERQUE' 'TUCSON'
 'BANGOR' 'HARTFORD' 'VALPARAISO' 'DETROIT' 'OMAHA' 'BUFFALO' 'OAKLAND'
 'PENSACOLA' 'VERO BEACH' 'MANHATTAN' 'MILTON' 'TULSA' 'OSHKOSH' 'JACKSON'
 'DEMING' 'GRAND FORKS' 'TOPEKA' 'TERRE HAUTE' 'MUSKEGON' 'CORPUS CHRISTI'
 'DEVILS LAKE' 'SANDUSKY' 'BATON ROUGE' 'FORT KNOX' 'GALESBURG' 'MEDFORD'
 'DUBUQUE' 'BRUNSWICK' 'MC KINNEY' 'ELKO' 'MILLINGTON' 'VAN NUYS'
 'ANCHORAGE' 'CHATTANOOGA' 'NASHVILLE' 'SHIRLEY' 'SALISBURY' 'KANSAS CITY'
 'FARGO' 'SANTA MONICA' 'ASHEVILLE' 'PRESQUE ISLE' 'RENO' 'EVANSVILLE'
 'ERIE' 'CAMARILLO' 'JACKSONVILLE' 'BRISTOL/JOHNSON/KINGSPORT' 'REYKJAVIK'
 'BEAUMONT/PORT ARTHUR' 'REDMOND' 'NOGALES' 'CHICAGO/ROCKFORD' 'MERCED'
 'FRIDAY HARBOR' 'HAYS' 'BATTLE CREEK' 'COLUMBIA' 'TETERBORO' 'PEORIA'
 'HELENA' 'STOCKTON' 'BROWNSVILLE' 'WATERTOWN' 'EL SALVADOR INTL. AIRPORT'
 'DULUTH' 'CHICKASHA' 'FORT HOOD/KILLEEN' 'HUNTSVILLE' 'MURFREESBORO'
 'MC ALLEN' 'FAYETTEVILLE/SPRINGDALE/' 'BULLHEAD CITY' 'NAPA' 'OGDEN'
 'LEXINGTON' 'HONOLULU, HONOLULU INTERNATIONAL AIRPORT, HI'
 "COEUR D'ALENE" 'GRAND JUNCTION' 'HARLINGEN' 'SAN LUIS OBISPO'
 'WRIGHTSTOWN' 'MUSKOGEE' 'BRANSON' 'RICHMOND' 'TRAVERSE CITY' 'CROSSETT'
 'MURRIETA/TEMECULA' 'SPRINGDALE' 'RALEIGH/DURHAM' 'SOUTH BEND' 'AUSTIN'
 'LAFAYETTE' 'LA VERNE' 'HILLSBORO' 'CALDWELL' 'LONGVIEW'
 "OTTAWA INT'L. ONT." 'WARSAW' 'WINNIPEG INT. AIRPORTMAN.' 'MOLINE'
 'GOSHEN' 'TYLER' 'THE DALLES' 'AKRON' 'APPLETON' 'PADUCAH' 'GUADALAJARA'
 'GULFPORT' 'PUEBLO' 'DAYTONA BEACH' 'YAKIMA' 'GREENSBORO' 'ALAMOSA'
 'KALISPELL' 'DESTIN' 'TRUCKEE' 'FAIRBANKS' 'LIBERAL' 'OWENSBORO'
 'RAYVILLE' 'LONDON' 'SAGINAW' 'BENTON' 'PROVIDENCE' 'CLARKSVILLE'
 'NEW BRAUNFELS' 'WILLIMANTIC' 'KALAMAZOO' 'IRONWOOD' 'MANKATO'
 'NEW HAVEN' 'NANTUCKET' 'PASCO' 'BURLINGTON' 'SHELBYVILLE' 'SYRACUSE'
 'CHARLOTTESVILLE' 'FALMOUTH' 'SCOTTSBLUFF' 'LINCOLN' 'MIDLAND'
 'SIOUX FALLS' 'POZNAN' 'GREAT FALLS' 'MODESTO' 'LANSING' 'MANCHESTER'
 'ST PAUL' 'Richmond' 'MONTEREY' 'ROANOKE' 'DURANGO' 'CHICAGO/AURORA'
 'HARRISON' 'HICKORY' 'HAWTHORNE' 'FARMVILLE' 'DUBLIN' 'TRENTON' 'VFR'
 'JOPLIN' 'JEFFERSONVILLE' 'GREENVILLE' 'AMARILLO' 'SANTA BARBARA'
 'PORTSMOUTH' 'SMYRNA' 'BOUNTIFUL' 'MADISON' 'CAPE GIRARDEAU' 'FREDERICK'
 'MORGANTON' 'FAYETTEVILLE/SPRINGDALE/ROGERS' 'SAN CARLOS' 'BOLIVAR'
 'SEOUL' 'DOTHAN' 'WARRENSBURG' 'SANTA TERESA' 'STURGIS'
 'CHICAGO/ROMEOVILLE' 'DES MOINES' 'LAREDO' 'PERRYVILLE'
 'FORT COLLINS/LOVELAND' 'WAHIAWA' 'AUBURN' 'LYNCHBURG' 'TORONTO'
 'MERIDIAN' 'FAIRFIELD' 'CHICAGO/WEST CHICAGO' 'TEMPLE'
 'FORT BLISS/EL PASO/' 'ROME' 'MADRID' 'CHANDLER' 'GREEN BAY' 'BEATRICE'
 'KAPOLEI' 'FAYETTEVILLE' 'CLEMSON' 'MANISTEE' 'DOYLESTOWN' 'ST GEORGE'
 'CHICAGO/WAUKEGAN' 'MEXICO CITY' 'BECKLEY' 'PUERTO RICO' 'NORMAN'
 'HUNTINGTON' 'MONTGOMERY' 'FORT MYERS' 'MARANA' 'MOSES LAKE' 'SPARTA'
 'OXFORD' 'HARRISBURG' 'CARLSBAD' 'BELLINGHAM' 'SAULT STE MARIE'
 'MOUNTAIN VIEW' 'TUPELO' 'PETERSBURG' 'COLLEGE STATION' 'ANNISTON'
 'SAN MARTIN' 'IDAHO FALLS' 'ROCKY MOUNT' 'GARY' 'STUART' 'HOLLYWOOD'
 'ALBANY' 'OAKDALE' 'FORT WORTH' 'PALM SPRINGS' 'CINCINNATI' 'SELINSGROVE'
 'EL CENTRO' 'BEND' 'MONROE' 'CALHOUN' 'ORMOND BEACH' 'LOMPOC'
 'CHARLESTON' 'BEDFORD' 'CONCORD' 'NORTH' 'BAKER CITY' 'BOWLING GREEN'
 'FARMINGTON' 'READING' 'ALLENDALE' 'JONESBORO' 'GAINESVILLE' 'KERRVILLE'
 'PANAMA CITY' 'JOHN DAY' 'TWIN FALLS' 'DUBOIS' 'JAMESTOWN' 'MYRTLE BEACH'
 'SARASOTA/BRADENTON' 'FORT WAYNE' 'ARCATA/EUREKA' 'SANFORD' 'MOUNT HOLLY'
 'SHOW LOW' 'CASA GRANDE' 'GREER' 'ELMIRA/CORNING' 'SPARTANBURG'
 'WALLA WALLA' 'ALEXANDRIA' 'MERRITT ISLAND' 'CORVALLIS' 'EVERETT'
 'LEWISTON' 'EL MONTE' 'DAGGETT' 'KOKOMO' 'CHINO' 'MARION' 'PASO ROBLES'
 'WILLITS' 'BILLINGS' 'GRASS VALLEY' 'SAN ANGELO'
 'REDSTONE ARSNL HUNTSVILLE' 'LA GRANDE' 'SALINAS' 'SCOTTSDALE'
 'BINGHAMTON' 'RICE LAKE' 'KINGSVILLE' 'BUTTE' 'HILTON HEAD ISLAND'
 'MARY ESTHER' 'GOODYEAR' 'HATTIESBURG-LAUREL' 'VIRGINIA BEACH' 'MESA'
 'BOGOTA' 'ST CLOUD' 'MESQUITE' 'ANN ARBOR' 'NORTH PLATTE' 'WHITE PLAINS'
 'SEARCY' 'SANTA ROSA' 'MUNCIE' 'ARLINGTON' 'BURLINGTON/MOUNT VERNON'
 'LEESBURG' 'CORTEZ' 'HOT SPRINGS' 'SHREVEPORT' 'NAPLES' 'MELBOURNE'
 'FENTRESS' 'WACO' 'QUINCY' 'MORGANTOWN' 'ST PETERSBURG-CLEARWATER'
 'POTTSTOWN' 'DECATUR' 'BERLIN' 'EDMONTON' 'FORT BRAGG' 'DEL NORTE'
 'ITHACA' 'AUGUSTA' 'SANTA MARIA' 'CRESTVIEW' 'CEDAR CITY' 'KODIAK'
 'FORT SMITH' 'KLAMATH FALLS' 'BISMARCK' 'SAN DIEGO/EL CAJON' 'WESTERLY'
 'HONG KONG' 'MONTICELLO' 'LIVERMORE' 'REGINA' 'BRIDGEPORT' 'PARIS' 'KENT'
 'MASON CITY' 'GOODLAND' 'WAUNAKEE' 'LA CROSSE' 'CHAMPAIGN/URBANA'
 'SAN BERNARDINO' 'LAKELAND' 'UPLAND' 'BEAVER FALLS' 'EAGLE PASS' 'RIFLE'
 'LATROBE' 'PENDLETON' 'ALPINE' 'WINDER' 'RANCHO MURIETA' 'BURLEY'
 'ST SIMONS ISLAND' 'PALM COAST' 'WATSONVILLE' 'KAUNAKAKAI'
 'ELIZABETHTOWN' 'OLATHE' 'MILLEN' 'ABILENE' 'VALDOSTA'
 'STAUNTON/WAYNESBORO/HARRISONBURG' 'BIG SPRING' 'KEARNEY' 'COSTA RICA'
 'DEL RIO' 'PUNTA GORDA' 'ST PETERSBURG' 'PASCAGOULA' 'HAZLEHURST'
 'GRAND CANYON' 'LANCASTER' 'BLOOMINGTON'
 'VALPARAISO/DESTIN-FT WALTON BEACH' 'MONETT' 'CHEYENNE' 'RUTLAND'
 'COLORADO CITY' 'ENID' 'GUATEMALA' 'WINSTON SALEM' 'PRINCETON' 'ZURICH'
 'MUSCLE SHOALS' 'TUSCALOOSA' 'SAFFORD' 'PUYALLUP' 'PALO ALTO'
 'FORT RILEY(JUNCTION CITY)' 'ARDMORE' 'HUTCHINSON' 'DENTON' 'BRUSSELS'
 'ANKENY' 'TILLAMOOK' 'OXNARD' 'FLINT' 'BROOKSVILLE' 'KAILUA/KONA'
 'RAPID CITY' 'GROVE' 'OAK HARBOR' 'SPRINGERVILLE' 'CLIFTON/MORENCI'
 'NORTH BEND' 'WESTMINSTER' 'SYDNEY' 'LAKE CITY' 'VENICE' 'SOCORRO'
 'PORTERVILLE' 'RICHFIELD' 'STEPHENVILLE' 'CRESCENT CITY' 'ST AUGUSTINE'
 'RENTON' 'CHARLOTTE AMALIE' 'CASPER' 'CLOVIS' 'LUBBOCK' 'SANTO DOMINGO'
 'GUNTERSVILLE' 'SEVIERVILLE' 'ALAMOGORDO' 'FORT PIERCE' 'PALMDALE' 'PAGE'
 'DANVILLE' "LAND O' LAKES" 'PULLMAN/MOSCOW' 'STILLWATER' 'RHINELANDER'
 'EAST HAMPTON' 'PALACIOS' 'GUAM' 'CARBONDALE/MURPHYSBORO' 'TORRANCE'
 'THIEF RIVER FALLS' 'NEW BERN' 'TOOELE' 'SPICEWOOD' 'CROWNPOINT' 'ELY'
 'MILLVILLE' 'ST JOSEPH' 'MAYPORT' 'JERUSALEM' 'BEVERLY' 'CULPEPER'
 'ELIZABETH CITY' 'ATLANTIC CITY' 'STARKVILLE' 'BREMERTON' 'ROSEBURG'
 'BRANSON WEST' 'BERRIEN SPRINGS' 'IMPERIAL' 'FLAGSTAFF'
 'CAHOKIA/ST LOUIS' 'ARKADELPHIA' 'HILLSDALE' 'HOLLISTER' 'ELKHART'
 'CARIBOU' 'POUGHKEEPSIE' 'EASTON' 'LEBANON' 'KEY WEST' 'BOULDER CITY'
 'MENDOTA' 'BENTONVILLE' 'HANCOCK' 'ROCHELLE' 'FORT BENNING(COLUMBUS)'
 'NEWBERG' 'FORT CAMPBELL/HOPKINSVILLE' 'FALLON' 'VAN HORN' 'PAWTUCKET'
 'CASTROVILLE' 'NEWPORT NEWS' 'MADRAS' 'BARDSTOWN' 'LOGAN' 'SILVER CITY'
 'MENOMINEE' 'STATESVILLE' 'AURORA' 'BRAINERD' 'FARMINGDALE' 'BEAUMONT'
 'BOCA RATON' 'MOULTRIE' 'CHAMBERLAIN' 'TEXARKANA' 'SPANISH FORK'
 'BATAVIA' 'CHINLE' 'SUSANVILLE' 'ODESSA' 'PATUXENT RIVER' 'YIGO'
 'BRENHAM' 'BISHOP' 'TACOMA' 'BUTLER' 'TAIPEI' 'REIDSVILLE' 'UVALDE'
 'LAKE HAVASU CITY' 'KAYENTA' 'EAU CLAIRE' 'KEARNY' 'LORAIN/ELYRIA'
 'RICHLANDS' 'HARBOR SPRINGS' 'DAVENPORT' 'MISSOULA' 'PENN YAN' 'SALINA'
 'LINDEN' 'PORT ANGELES' 'MASSILLON' 'LAS CRUCES' 'DEER PARK'
 'PARK RAPIDS' 'SEQUIM' 'HOMER' 'ROBBINSVILLE' 'ROCK SPRINGS' 'HAMILTON'
 'OCEANSIDE' 'MENA' 'LODI' 'NORTH MYRTLE BEACH' 'WAUKESHA' 'URBANA'
 'YOUNGSTOWN/WARREN' 'GUAYAQUIL' 'PITTSBURG' 'BILOXI' 'BELLEVILLE'
 'HOWELL' 'GREELEY' 'WILLIAMSPORT' 'MIDDLETON' 'BIG LAKE'
 'DAVIS/WOODLAND/WINTERS' 'MARQUETTE' 'ALMA' 'GRAHAM' 'SCAPPOOSE' 'HAYDEN'
 'PARKERSBURG' 'ANDREWS' 'MONTROSE' 'San Juan' 'MORRISTOWN' 'HANFORD'
 'KIDRON' 'STATE COLLEGE' 'ST CHARLES' 'LACON' 'WADSWORTH' 'ADRIAN'
 'ASTORIA' 'GRAND PRAIRIE' 'ALTOONA' 'LAKEHURST' 'SEMINOLE' 'PLACERVILLE'
 'SLIDELL' 'Aguadilla' 'GRANTS PASS' 'BLOOMINGTON/NORMAL' 'Isla Grande'
 'MOUNT CLEMENS' 'KINSTON' 'FORT RUCKER OZARK' 'SITKA' 'CAMP SHELBY'
 'OCEAN CITY' 'CORNELIA' 'LAUREL' 'NORWOOD' 'KANEOHE' 'DYERSBURG' 'RUSTON'
 'FORT LEWIS/TACOMA' 'THOMASVILLE' 'NORTH WILKESBORO' 'BUENOS AIRES'
 'HOLLAND' 'BONHAM' 'LONGMONT' 'ROLLA' 'OROVILLE' 'FULLERTON'
 'JEFFERSON CITY' 'CHOWCHILLA' 'CHICAGO/PROSPECT HEIGHTS/WHEELING'
 'SEWARD' 'POMPANO BEACH' 'CLARION' 'KANKAKEE' 'SAO PAULO' 'COPPERHILL'
 'POTEAU' 'VICTORIA' 'GALLIANO' 'KEENE' 'OCALA' 'ANDERSON' 'CULLMAN'
 'BEEVILLE' 'COFFEYVILLE' 'CEDAR KEY' 'DELAND' 'LARGE' 'GOLDSBY' 'SUSSEX'
 'DARWIN' 'WEST SACRAMENTO' 'MACON' 'LAKEWOOD' 'PAGOSA SPRINGS' 'PULASKI'
 'BELLAIRE' 'PLATTSBURGH' 'MIDLOTHIAN/WAXAHACHIE' 'GREENEVILLE' 'MOSBY'
 'FORT DODGE' 'OSCEOLA' 'MASON' 'BRAWLEY' 'SANTIAGO' 'WILLMAR' 'GALVESTON'
 'MOORESVILLE' 'FORT RUCKER/OZARK' 'BENTON HARBOR' 'BLYTHE' 'NEEDLES'
 'CRETE' 'EASTMAN' 'FORT CARSON' 'COLONA' 'ELBERTON' 'AMSTERDAM' 'HAILEY'
 'Guanajuato' 'JAMAICA' 'TOCCOA' 'AIKEN' 'SAND SPRINGS' 'CAMDEN'
 'CARSON CITY' 'CANCUN' 'BELLE GLADE' 'CANTON' 'GLENDALE' 'ROCK HILL'
 'LA PORTE' 'FREDERICKSBURG' 'WINNIPEG' 'EL DORADO' 'SALIDA' 'EAGLE'
 'SANTA FE' 'DURANT' 'GRANTS' 'SMITHVILLE' 'MARSHALLTOWN' 'OLYMPIA'
 'OLIVE BRANCH' 'BOA VISTA' 'RICHLAND' 'MARIETTA' 'SIKESTON']

In [15]:
#Get unique values for some of the columns (too many to print in jupyter notebook)

Dest2_2 = df.destNewCity.unique()
print(Dest2, "Unique Destination Cities (2)", Dest2_2)

1249 Unique Destination Cities (2) ['KAHULUI' 'ATLANTA' nan ... 'BAY MINETTE' 'AIROK' 'COSTA RICA']